@use '/src/styles/variables' as *;
@use '/src/styles/mixings' as *;

.container {
  max-width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 1, 5, 1) 41%,
    rgba(47, 50, 51, 1) 97%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6rem 10rem;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  &__img {
    max-width: 50%;
    max-height: 50%;
  }
}

.box {
  &__h1 {
    font-size: 32px;
    padding-bottom: 2rem;
  }
  &__p {
    font-size: 24px;
    padding-bottom: 1rem;
  }
  &__check {
    font-size: 20px;
    color: $orange;
  }
}
