@use '/src/styles/variables' as *;
@use '/src/styles/mixings' as *;
.container {
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $white;
  height: 100vh;
  overflow-x: scroll;
  &__title {
    font-size: 64px;
    padding: 10rem 0 10rem 10rem;
  }
}
.wrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
}
