@use '/src/styles/variables' as *;
@use '/src/styles/mixings' as *;
@use '/src/styles/animations' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15rem;
  width: 50vw;
  height: 80vh;
  color: $white;
  opacity: 0;
  animation-name: appear;
  animation-duration: 1.4s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  &__title {
    font-size: 64px;
    margin-bottom: 4rem;
    @include breakpoints(mobile) {
      font-size: 47px;
    }
  }
  &__text {
    font-size: 18px;
    margin: 0.5rem 0;
  }
  & span {
    color: $orange;
  }
  @include breakpoints(mobile) {
    width: 80vw;
    padding-top: 18rem;
    padding-bottom: 1rem;
  }
}
