@use '/src/styles/variables' as *;
@use '/src/styles/mixings' as *;

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem 10rem;
  z-index: 9999;
  @include breakpoints(mobile) {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include breakpoints(mobile) {
      width: 100%;
    }
    &__title {
      cursor: pointer;
      font-size: 24px;
      font-weight: 300;
      @include breakpoints(mobile) {
        font-size: 20px;
        display: none;
      }
    }
    &__button {
      border: none;
      background-color: transparent;
      display: none;
      @include breakpoints(mobile) {
        display: block;
      }
    }
  }
}

.button {
  border: none;
  background-color: white;
  width: 2rem;
  height: 2rem;
  display: none;
  @include breakpoints(mobile) {
    display: block;
  }
}
